@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&family=Pixelify+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand&family=Titillium+Web:wght@600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    --burger_line_width:35px;
    --burger_line_height:7px;
    --burger_line_margin:6px;
    --background_color: rgb(109, 40, 40);
    --product_backgroud_color:rgb(225,225,225);
    --footer_background_color:rgb(212,240,228);

}
#grid_wrapper_menu_mobile{
    width: 100vw;
    display: flex;
    height: 60px;
    background: green;
    justify-content: flex-end;
    align-items: center;
}

#grid_wrapper_menu{
    display: none;
}
.title{
    font-size: 2.7rem;
    margin-left: 30px;
    margin-right: auto;

}
#title_leaf_logo{
    height: 2.5rem;
    width:auto;
}
#title_and_logo{
    display: flex;
    align-items: center;
}

.list_menu_title{
    color: red;
    font-size: 2.5rem;
    text-decoration: none;
}

#grid_wrapper_index{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 400px 300px 300px 300px;
    grid-template-areas:
        "art1 art1 art1 art1"
        "art2 art2 art3 art3"
        "art4 art4 art5 art5"
        "blank1 art6 art6 blank2"
        "fot fot fot fot"
    ;
}
#title_1{
    grid-area: titl1;
    font-size: 34px;
    font-weight: 600;
    padding-left: 20px;
}

#title_2{
    grid-area: titl2;
    font-size: 34px;
    font-weight: 600;
    padding-left: 20px;
}

article{
    margin: 7px;
    border-radius: 0px;
}
#art_index_1{
    grid-area: art1;
    position: relative;
    line-height: 1.2;
}
#art_index_2{
    grid-area: art2;
    position: relative;
    line-height: 1.2;
}
#art_index_3{
    grid-area: art3;
    position: relative;
    line-height: 1.2;
}
#art_index_4{
    grid-area: art4;
    position: relative;
    line-height: 1.2;

}
#art_index_5{
    grid-area: art5;
    position: relative;
    line-height: 1.2;

}
#art_index_6{
    grid-area: art6;
    position: relative;
    line-height: 1.2;
}
#blank_space_1{
    grid-area: blank1;
}
#blank_space_2{
    grid-area: blank2;
}

.index_image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.text_on_image_top_left{
    position: absolute;
    top: 15px;
    left: auto;
    color: white;
    font-size:2.75rem;
    font-weight: 800;
    padding-left: 15px;


}
.text_on_image_bottom_left_white{
    position:absolute;
    bottom: 15px;
    left: 20px;
    color: white;
    font-size:1.7rem;
    font-weight: 800;
}
.text_on_image_bottom_left_black{
    position:absolute;
    bottom: 15px;
    left: 20px;
    color: black;
    font-size:1.7rem;
    font-weight: 800;
}

#grid_wrapper_products{
    display: grid;
    
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  50px 350px 350px 350px 350px 350px 50px 350px 350px 350px 350px 350px auto;
    grid-template-areas:
        "titl1 titl1"
        "art1 art2"
        "art3 art4"
        "art5 art6"
        "art7 art8"
        "art9 art10"
        "titl2 titl2"
        "art11 art12"
        "art13 art14"
        "art15 art16"
        "art17 art18"
        "art19 art20"
        "fot fot"
      
    ;
}

.product_name{
    font-size: 21px;
    font-weight: 600;
}
.product_description{
    font-size: 17px;
    font-weight: 400;
}
#art_prod_1{
    grid-area: art1;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: var(--product_backgroud_color);
}
#art_prod_2{
    grid-area: art2;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: var(--product_backgroud_color);
}
#art_prod_3{
    grid-area: art3;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: var(--product_backgroud_color);
}
#art_prod_4{
    grid-area: art4;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: var(--product_backgroud_color);
}
#art_prod_5{
    grid-area: art5;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: var(--product_backgroud_color);
}
#art_prod_6{
    grid-area: art6;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: var(--product_backgroud_color);
}
#art_prod_7{
    grid-area: art7;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: var(--product_backgroud_color);
}
#art_prod_8{
    grid-area: art8;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: var(--product_backgroud_color);
}
#art_prod_9{
    grid-area: art9;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: var(--product_backgroud_color);
}
#art_prod_10{
    grid-area: art10;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: var(--product_backgroud_color);
}
#art_prod_11{
    grid-area: art11;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: var(--product_backgroud_color);
}
#art_prod_12{
    grid-area: art12;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: var(--product_backgroud_color);
}
#art_prod_13{
    grid-area: art13;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: var(--product_backgroud_color);
}
#art_prod_14{
    grid-area: art14;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: var(--product_backgroud_color);
}
#art_prod_15{
    grid-area: art15;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: var(--product_backgroud_color);
}
#art_prod_16{
    grid-area: art16;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: var(--product_backgroud_color);
}
#art_prod_17{
    grid-area: art17;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: var(--product_backgroud_color);
}
#art_prod_18{
    grid-area: art18;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: var(--product_backgroud_color);
}
#art_prod_19{
    grid-area: art19;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: var(--product_backgroud_color);
}
#art_prod_20{
    grid-area: art20;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: var(--product_backgroud_color);
}
.product_price{
    height: 25px;
    width: 130px;
    background: green;
    display: flex;
    justify-content: center;
    border-radius: 12px;
    color: white;
}
.product_price:hover{
    cursor: pointer;
    transform: scale(1.02);
    background-color: rgb(0, 195, 0);
}

#grid_wrapper_inspiration{
    display: grid;
    overflow-x: hidden;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "insp1"
    "insp2"
    "insp3"
    "fot"
    ;
}
#art_insp_1{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    grid-area: insp1;
    background: var(--product_backgroud_color);
}

#art_insp_2{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    grid-area: insp2;
    background: var(--product_backgroud_color);
}
#art_insp_3{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    grid-area: insp3;
    background: var(--product_backgroud_color);
}
.inspiration_image{
    margin-left: auto;
    margin-right: auto;
}
.inspiration_heading{
    grid-area: heading;
    display: flex;
    justify-content: center;
    margin-top: 25px;
    font-size: 34px;
    font-weight: 600;
    text-align: center;
}
.inspiration_text{
    grid-area: text;
    padding: 50px;
    padding-top: 10px;
    text-align: center;
    line-height: 1.5;
    font-size: 17px;
    font-weight: 500;
    
}
footer{
    grid-area: fot;
    background: var(--footer_background_color);
    display: grid;
    grid-template-columns: 8fr 3fr 7fr;
    grid-template-rows: 250px 250px 25px;
    grid-template-areas:
    "name name cat"
    "con log ser"
    "cop cop cop"
    ;
    margin-top: 20px;
}
#company_name{
    grid-area: name;
}
#categories{
    grid-area: cat;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 4vw;

}
#services{
    grid-area:ser;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 4vw;
   

}
#contacts{
    grid-area: con;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 2vw;

}
#copyright{
    grid-area: cop;
}
.footer_titles{
    font-weight: 800;
}
.footer_text{
    text-decoration: none;
    color: rgb(90, 90, 90);
}
#company_name{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    align-items: center;

}
#footer_company_text{
    font-size: 15px;
    margin-left: 5vw;
    margin-right: 5vw;
    text-align: center;
}
#footer_leaf_logo{
    width: 100px;
    margin-top: 20px;

}
#logos{
    grid-area: log;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.contact_logos{
    height: 20px;
    width: auto;
}
#instagram{
    width: 45px;
    height: auto;
    
}
#facebook{
    width: 45px;
    height: auto;
}
#X{
    width: 45px;
    height: auto;
}
#youtube{
    width: 45px;
    height: auto;
}

#grid_wrapper_about_us{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 500px auto 50px 200px 200px 200px 200px 200px 200px 300px auto auto auto auto;
    grid-template-areas:
    "tau"
    "art_us_1"
    "art_us_2"
    "cat_titl"
    "art_us_3"
    "art_us_4"
    "art_us_5"
    "art_us_6"
    "art_us_7"
    "art_us_8"
    "leaf"
    "location"
    "map"
    "map_txt"
    "fot"
    ;

}
#title_about_us{
    margin-left: 6%;
    margin-right: 6%;
    grid-area: tau;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}
#art_about_us_1{
    margin-left: 6%;
    margin-right: 6%;
    grid-area: art_us_1;
    object-fit: cover;
}
#art_about_us_2{
    grid-area: art_us_2;
    background-color: var(--product_backgroud_color);
    margin-left: 6%;
    margin-right: 6%;
    padding: 15px;
    text-align: center;
}
#art_about_us_3{
    grid-area: art_us_3;
    padding: 20px;
    display: flex; 
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 6%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--footer_background_color);
}
#art_about_us_4{
    grid-area: art_us_4;
    padding: 20px;
    display: flex; 
    margin-left: 6%;
    margin-right: 6%;
    margin-bottom: 6%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--footer_background_color);
    
}
#art_about_us_5{
    grid-area: art_us_5;
    padding: 20px;
    margin-left: 6%;
    margin-right: 6%;
    display: flex; 

    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--footer_background_color);
}
#art_about_us_6{
    grid-area: art_us_6;
    padding: 20px;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 6%;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--footer_background_color);
}
#art_about_us_7{
    grid-area: art_us_7;
    padding: 20px;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 6%;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--footer_background_color);
}
#art_about_us_8{
    grid-area: art_us_8;
    padding: 20px;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 6%;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--footer_background_color);
}
#category_title{
    grid-area: cat_titl;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#plant_shop_img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.leafy_background{
    grid-area: leaf;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
#location_map{
    grid-area: location;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;

}
#shop_map{
    grid-area: map;
    margin-right: auto;
    margin-left: auto;
    width: 85vw;
    height: 100%;
    object-fit: cover;
}
#map_text{
    grid-area: map_txt;
    background: var(--product_backgroud_color);
    width: 85vw;
    margin-right: auto;
    margin-left: auto;
    padding: 30px;
    margin-bottom: 15px;
    text-align: center;
    margin-top: 15px;
}
.our_perks_text{
    font-weight: 400;
}

.burger_line{
    width: var(--burger_line_width);
    height: var(--burger_line_height);
    margin:var(--burger_line_margin);
    background: red;
    border-radius: 5px;
}
.links_visible{
    transform: translateY(500px);
    z-index: 1;
}
.burger_in_x_form #burger_line_2 {
    opacity: 0;
    transition: all 0.2s;
}
.burger_in_x_form #burger_line_1 {
    transform: translateY(calc(var(--burger_line_height) + var(--burger_line_margin))) rotate(45deg);
    transition: all 0.2s;
}
.burger_in_x_form #burger_line_3 {
    transform: translateY(calc((-1)*(var(--burger_line_height) + var(--burger_line_margin)))) rotate(-45deg);
    transition: all 0.2s;
}
#burger{
    margin-right: 15px;
}
#link_list{
    background: rgba(0, 128, 0, 0.55);
    display:flex;
    flex-direction: column;
    height: 310px;
    width: 200px;
    position: absolute;
    top: -400px;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    transition: all 0.2s;
}
#link_list a{
    text-decoration: none;
    color:blanchedalmond;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 0.18rem;
    width: 200px;
    height: 3rem;
}
.list_menu{
    width: 110px;
    height: 35px;
    background: green;
    display: flex;
    align-items: center;
    text-align:center;
    align-self: center;
    border-radius: 10px;
}
.product_image{
    height: 200px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.inspiration_image{
    height: 390px;
    display: flex;
    justify-content: left;
    align-items: center;
}


@media screen and (min-width: 800px){

#grid_wrapper_menu{
    width: 100%;
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: space-around;
    list-style: none;
    background:green;
    
}
.title{
    margin-left: 0px;
    margin-right: 0px;
    /*width: 150px;
    height:50px;^
    border-radius: 0px 10px 10px 0px;*/
}
.text_on_image_top_left{
    font-size:5.56rem;
}
.text_on_image_bottom_left_white{
    font-size:3.44rem;
}
.text_on_image_bottom_left_black{
    font-size:3.44rem;
}
#grid_wrapper_menu_mobile{
    display: none;
}
#burger{
    display: none;
}
#link_list{
    display: none;
}
.list_menu_a{
    text-decoration: none;
    color: blanchedalmond;
    font-size: 1.2rem;
}
.list_menu_a:hover{
    color: rgb(193, 176, 151);
}

#grid_wrapper_products{
width: 100vw;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: 50px 350px 350px 50px 350px 350px auto;
grid-template-areas: 
    "titl1 titl1 titl1 titl1 titl1"
    "art1 art2 art3 art4 art5"
    "art6 art7 art8 art9 art10"
    "titl2 titl2 titl2 titl2 titl2"
    "art11 art12 art13 art14 art15"
    "art16 art17 art18 art19 art20"
    "fot fot fot fot fot"
    ;
}



#grid_wrapper_index{
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: 600px 500px 400px auto;
    grid-template-areas:
        "art1 art1 art1 art1"
        "art2 art2 art3 art3"
        "art4 art5 art5 art6"
        "fot fot fot fot"
        
    ;
}
#grid_wrapper_inspiration{
    display: grid;   
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "insp1 "
    "insp2"
    "insp3"
    "fot"
    ;
}   
#art_insp_1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px 320px;
    grid-template-areas:
    "img heading"
    "img text";

    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    grid-area: insp1;
    background: var(--product_backgroud_color);
}

#art_insp_2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px 320px; /*Ändra så att bilden och text byter plats för mer variation*/
    grid-template-areas:
    "img heading"
    "img text";

    margin: 0px;
    margin-bottom: 10px;
    grid-area: insp2;

}
#art_insp_3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px 320px;
    grid-template-areas:
    "img heading"
    "img text";
    margin: 0px;
    margin-bottom: 10px;
    grid-area: insp3;
}
.inspiration_image{
    grid-area: img;
    margin-left: auto;
    margin-top: 0px;
}
.inspiration_heading{
    grid-area: heading;
    display: flex;
    justify-content: start;
    margin-top: 25px;
}
.inspiration_text{
    grid-area: text;
    padding: 50px;
    padding-left: 5px;
    margin-right: auto;
    padding-right: 100px;
    text-align: left;
    line-height: 1.8;

}
footer{
    grid-area: fot;
    display: grid;
    grid-template-columns: 5fr 4fr 4fr 3fr 2fr;
    grid-template-rows: 250px 25px;
    grid-template-areas:
    "name cat ser con log"
    "cop cop cop cop cop"
    ;
}
#grid_wrapper_about_us{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 500px auto 50px 200px 200px 300px auto auto auto;
    grid-template-areas:
    "tau tau tau"
    "art_us_1 art_us_1 art_us_1"
    "art_us_2 art_us_2 art_us_2"
    "cat_titl cat_titl cat_titl"
    "art_us_3 art_us_4 art_us_5"
    "art_us_6 art_us_7 art_us_8"
    "leaf leaf leaf"
    "location location location"
    "map map map"
    "map_txt map_txt map_txt"
    "fot fot fot"
    ;
}
#art_about_us_5{
    margin-bottom: 6%;
}

.no_hover:hover{
    transform:scale(1);
}
article:hover{
    transform: scale(1.03);
}

}

