@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@500&family=Pixelify+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand&family=Titillium+Web:wght@600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    --burger_line_width:30px;
    --burger_line_height:5px;
    --burger_line_margin:6px;
    --background_color: rgb(109, 40, 40);
    --product_backgroud_color:rgb(225,225,225);
    --footer_background_color:rgb(212,240,228);

}
#grid_wrapper_menu_mobile{
    width: 100vw;
    display: flex;
    height: 50px;
    background: green;
    justify-content: flex-end;
    align-items: center;
    /*font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;*/
   /* display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;*/
    
}

#grid_wrapper_menu{
    display: none;
}
.title{
    font-size: 2.5rem;
    margin-left: 30px;
    margin-right: auto;
    /*width: 150px;
    height:50px;^
    border-radius: 0px 10px 10px 0px;*/
}

.list_menu_title{
    color: red;
    font-size: 2,5rem;
    text-decoration: none;
}

#grid_wrapper_index{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px 300px 300px 300px;
    grid-template-areas:
        "art1 art1"
        "art2 art3"
        "art4 art5"
        "art6 art7"
        "fot fot"
    ;
}
#title_1{
    grid-area: titl1;
}

#title_2{
    grid-area: titl2;
}

article{
    margin: 7px;
    border-radius: 0px;
}
#art_index_1{
    grid-area: art1;
    position: relative;
}
#art_index_2{
    grid-area: art2;
    position: relative;
}
#art_index_3{
    grid-area: art3;
    position: relative;
}
#art_index_4{
    grid-area: art4;
    position: relative;

}
#art_index_5{
    grid-area: art5;
    position: relative;

}
#art_index_6{
    grid-area: art6;
    position: relative;
}
/*#art_index_7{
    grid-area: art7;
}*/

.index_image{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.text_on_image{
    position: absolute;
    bottom: 15px;
    left: 20px;
    color: blanchedalmond;


}
#grid_wrapper_products{
    display: grid;
    
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  50px 350px 350px 350px 350px 350px 50px 350px 350px 350px 350px 350px auto;
    grid-template-areas:
        "titl1 titl1"
        "art1 art2"
        "art3 art4"
        "art5 art6"
        "art7 art8"
        "art9 art10"
        "titl2 titl2"
        "art11 art12"
        "art13 art14"
        "art15 art16"
        "art17 art18"
        "art19 art20"
        "fot fot"
      
    ;
}

/*article{
    margin: 7px;
    border-radius: 0px;
}*/
#art_prod_1{
    grid-area: art1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: var(--product_backgroud_color);
}
#art_prod_2{
    grid-area: art2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: var(--product_backgroud_color);
}
#art_prod_3{
    grid-area: art3;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: var(--product_backgroud_color);
}
#art_prod_4{
    grid-area: art4;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: var(--product_backgroud_color);
}
#art_prod_5{
    grid-area: art5;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: var(--product_backgroud_color);
}
#art_prod_6{
    grid-area: art6;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: var(--product_backgroud_color);
}
#art_prod_7{
    grid-area: art7;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: var(--product_backgroud_color);
}
#art_prod_8{
    grid-area: art8;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: var(--product_backgroud_color);
}
#art_prod_9{
    grid-area: art9;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: var(--product_backgroud_color);
}
#art_prod_10{
    grid-area: art10;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: var(--product_backgroud_color);
}
#art_prod_11{
    grid-area: art11;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: var(--product_backgroud_color);
}
#art_prod_12{
    grid-area: art12;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: var(--product_backgroud_color);
}
#art_prod_13{
    grid-area: art13;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: var(--product_backgroud_color);
}
#art_prod_14{
    grid-area: art14;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: var(--product_backgroud_color);
}
#art_prod_15{
    grid-area: art15;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: var(--product_backgroud_color);
}
#art_prod_16{
    grid-area: art16;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: var(--product_backgroud_color);
}
#art_prod_17{
    grid-area: art17;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: var(--product_backgroud_color);
}
#art_prod_18{
    grid-area: art18;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: var(--product_backgroud_color);
}
#art_prod_19{
    grid-area: art19;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: var(--product_backgroud_color);
}
#art_prod_20{
    grid-area: art20;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: var(--product_backgroud_color);
}
.product_price{
    height: 25px;
    width: 130px;
    background: green;
    display: flex;
    justify-content: center;
    border-radius: 12px;
}
.product_price:hover{
    cursor: pointer;
    transform: scale(1.02);
    background-color: rgb(0, 195, 0);
}

#grid_wrapper_inspiration{
    display: grid;
    overflow-x: hidden;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    "insp1"
    "insp2"
    "insp3"
    "fot"
    ;
}
#art_insp_1{
    /*display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 400px 70px 100px;
    grid-template-areas:
    "img"
    "heading"
    "text";

    margin: 0px;
    margin-bottom: 10px;*/
    margin-left: 0px;
    margin-right: 0px;
    grid-area: insp1;
    background: var(--product_backgroud_color);
}

#art_insp_2{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    grid-area: insp2;
    background: var(--product_backgroud_color);
}
#art_insp_3{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    grid-area: insp3;
    background: var(--product_backgroud_color);
}
.inspiration_image{
    grid-area: img;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}
.inspiration_heading{
    grid-area: heading;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.inspiration_text{
    grid-area: text;
    padding: 50px;
    padding-top: 10px;
}
footer{
    grid-area: fot;
    background: var(--footer_background_color);
    display: grid;
    grid-template-columns: 8fr 3fr 7fr;
    grid-template-rows: 250px 250px 25px;
    grid-template-areas:
    "name name cat"
    "con log ser"
    "cop cop cop"
}
#company_name{
    grid-area: name;
}
#categories{
    grid-area: cat;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 4vw;

}
#services{
    grid-area:ser;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 4vw;
   

}
#contacts{
    grid-area: con;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 2vw;

}
#copyright{
    grid-area: cop;
}
.footer_titles{
    font-weight: 800;
}
.footer_text{
    text-decoration: none;
    color: rgb(90, 90, 90);
}
#company_name{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    align-items: center;

}
#footer_company_text{
    font-size: 15px;
    margin-left: 5vw;
    margin-right: 5vw;
}
#footer_leaf_logo{
    width: 100px;
    margin-top: 20px;

}
#logos{
    grid-area: log;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.contact_logos{
    height: 20px;
    width: auto;
}
#instagram{
    width: 50px;
    height: auto;
    
}
#facebook{
    width: 50px;
    height: auto;
}
#X{
    width: 50px;
    height: auto;
}
#youtube{
    width: 50px;
    height: auto;
}

#grid_wrapper_about_us{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 500px auto 200px 200px auto;
    grid-template-areas:
    "tau"
    "art_us_1"
    "art_us_2"
    "art_us_3"
    "art_us_4"
    "art_us_5"
    "fot"
    ;

}
#title_about_us{
    margin-left: 6%;
    margin-right: 6%;
    grid-area: tau;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
#art_about_us_1{
    margin-left: 6%;
    margin-right: 6%;
    grid-area: art_us_1;
    object-fit: cover;
}
#art_about_us_2{
    grid-area: art_us_2;
    background-color: var(--product_backgroud_color);
    margin-left: 10%;
    margin-right: 10%;
    padding: 15px;
    text-align: center;
}
#art_about_us_3{
    grid-area: art_us_3;
    background-color: var(--footer_background_color)
}
#art_about_us_4{
    grid-area: art_us_4;
    background: var(--product_backgroud_color);
}
#art_about_us_5{
    grid-area: art_us_5;
}
#plant_shop_img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}
/*#art_insp_4{
    margin-top: 0px;
    grid-area: insp4;
    background: rgb(81, 255, 0);
}
#art_insp_5{
    margin-bottom: 0px;
    grid-area: insp5;
    background: rgb(0, 255, 234);
}
#art_insp_6{
    margin-top: 0px;
    grid-area: insp6;
    background: rgb(217, 0, 255);
}
*/
.burger_line{
    width: var(--burger_line_width);
    height: var(--burger_line_height);
    margin:var(--burger_line_margin);
    background: darkgoldenrod;
    border-radius: 20%;
}

.links_visible{
    transform: translateY(500px);
    z-index: 1;
}

.burger_in_x_form #burger_line_2 {
    opacity: 0;
    transition: all 0.5s;
}

.burger_in_x_form #burger_line_1 {
    transform: translateY(calc(var(--burger_line_height) + var(--burger_line_margin))) rotate(45deg);
    transition: all 0.5s;
}

.burger_in_x_form #burger_line_3 {
    transform: translateY(calc((-1)*(var(--burger_line_height) + var(--burger_line_margin)))) rotate(-45deg);
    transition: all 0.5s;
}

#burger{
    margin-right: 84px;
    cursor:pointer;
}
#link_list{
    background: rgba(0, 128, 0, 0.55);
    display:flex;
    flex-direction: column;
    height: 400px;
    width: 200px;
    position: absolute;
    top: -400px;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    transition: all 0.5s;
}
#link_list a{
    text-decoration: none;
    color:blanchedalmond;
    font-weight: bold;
    font-size: 1.25rem;
    letter-spacing: 0.1875rem;
    width: 200px;
    height: 3rem;

}
#link_list a:hover{
    background:rgb(0, 108, 0) ;
}
.list_menu{
    width: 110px;
    height: 35px;
    background: green;
    display: flex;
    align-items: center;
    text-align:center;
    align-self: center;
    border-radius: 10px;
}
/*.list_menu:hover{
    background: rgb(0, 95, 0);
}*/
.product_image{
    height: 200px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.inspiration_image{
    height: 390px;
    display: flex;
    justify-content: left;
    align-items: center;
    
    
}


@media screen and (min-width: 800px){

#grid_wrapper_menu{
    width: 100%;
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: space-around;
    list-style: none;
    background:green;
    
}
.title{
    margin-left: 0px;
    margin-right: 0px;
    /*width: 150px;
    height:50px;^
    border-radius: 0px 10px 10px 0px;*/
}
#grid_wrapper_menu_mobile{
    display: none;
}
#burger{
    display: none;
}
#link_list{
    display: none;
}
.list_menu_a{
    text-decoration: none;
    color: blanchedalmond;
    font-size: 1.2rem;
}
.list_menu_a:hover{
    color: rgb(193, 176, 151);
}

#grid_wrapper_products{
width: 100vw;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: 50px 350px 350px 50px 350px 350px auto;
grid-template-areas: 
    "titl1 titl1 titl1 titl1 titl1"
    "art1 art2 art3 art4 art5"
    "art6 art7 art8 art9 art10"
    "titl2 titl2 titl2 titl2 titl2"
    "art11 art12 art13 art14 art15"
    "art16 art17 art18 art19 art20"
    "fot fot fot fot fot"
    ;
}



#grid_wrapper_index{
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-rows: 600px 500px 400px auto;
    grid-template-areas:
        "art1 art1 art1 art1"
        "art2 art2 art3 art3"
        "art4 art5 art5 art6"
        "fot fot fot fot"
        
    ;
}
#grid_wrapper_inspiration{
    display: grid;   
    grid-template-columns: 1fr;
    grid-template-rows: 400px 400px 400px auto;
    grid-template-areas:
    "insp1 "
    "insp2"
    "insp3"
    "fot"
    ;
}   
#art_insp_1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px 320px;
    grid-template-areas:
    "img heading"
    "img text";

    margin: 0px;
    margin-bottom: 10px;
    grid-area: insp1;
    background: var(--product_backgroud_color);
}

#art_insp_2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px 320px; /*Ändra så att bilden och text byter plats för mer variation*/
    grid-template-areas:
    "img heading"
    "img text";

    margin: 0px;
    margin-bottom: 10px;
    grid-area: insp2;

}
#art_insp_3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px 320px;
    grid-template-areas:
    "img heading"
    "img text";
    margin: 0px;
    grid-area: insp3;
}
.inspiration_image{
    grid-area: img;
    margin-left: auto;
    margin-top: 0px;
}
.inspiration_heading{
    grid-area: heading;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.inspiration_text{
    grid-area: text;
    padding: 50px;
}
footer{
    grid-area: fot;
    display: grid;
    grid-template-columns: 5fr 4fr 4fr 3fr 2fr;
    grid-template-rows: 250px 25px;
    grid-template-areas:
    "name cat ser con log"
    "cop cop cop cop cop"
    ;
}
#grid_wrapper_about_us{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 500px auto 200px auto;
    grid-template-areas:
    "tau tau tau"
    "art_us_1 art_us_1 art_us_1"
    "art_us_2 art_us_2 art_us_2"
    "art_us_3 art_us_4 art_us_5"
    "fot fot fot"
    
    ;

}

/*#logos{
    grid-area: log;
    background: yellow;
    
}
#instagram{
    width: 50px;
    height: auto;
    
}
#facebook{
    width: 50px;
    height: auto;
   
}
#X{
    width: 50px;
    height: auto;
   

}
#youtube{
    width: 50px;
    height: auto;
   
}*/
/*#company_name{
    grid-area: name;
    background: blue;
}
#categories{
    grid-area: cat;
    background: rgb(130, 238, 236);
    list-style: none;
}
#services{
    grid-area:ser;
    background: red;
    list-style: none;
}
#contacts{
    grid-area: con;
    background: pink;
    list-style: none;
}
#copyright{
    grid-area: cop;
    background: teal;
}*/
/*.inspiration_heading{
    display: flex;
    align-items: flex-start;
    width: 1000px;
    height: 100px;
    margin: 50px;
    margin-left: 100px;
    margin-right: 0px;
    background: red;
}
.inspiration_text{
    width: 600px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

}
*/
/*#art_insp_4{
    margin: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
    grid-area: insp4;
    background: rgb(81, 255, 0);
}
#art_insp_5{
    margin: 0px;
    margin-top: 10px;
    grid-area: insp5;
    background: rgb(0, 255, 234);
}
#art_insp_6{
    margin: 0px;
    margin-top: 10px;
    grid-area: insp6;
    background: rgb(217, 0, 255);
}*/
.no_hover:hover{
    transform:scale(1);
}
article:hover{
    transform: scale(1.03);
}

}

